* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
  }
  
   body {
    padding: 1rem;
    /* text-align: center; */
    background-color: #ffffff;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
  } 
  
 
  header h1 {
    text-align: left;
    padding: 0.5rem;
    width: 100%;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    font-family: "Lucida Console", "Courier New", monospace;
  }

  header img {
    float: right;
  }

#rooms-menu {
    
    display: flex;
    overflow-x: auto;
    margin: 1rem 0;
    justify-content: center;
}

#rooms-menu img {
    flex: 0 1 auto;
    height: 150px;
    width: 150px;
    margin-right: 0.5rem;
    cursor: pointer;
    filter: drop-shadow(16px 16px 10px rgb(238, 233, 224,0.8));
}



.grid-container img {
    display: flex;
    height: 40rem;
    width: 40rem;
    margin-right: 0.5rem;
}

.details { 
    display: flexbox;
    width: 75%;
    /* float: right; */
    padding: 20px;
} 

#name{
    text-align: center;
}

#description{
    text-align:justify;
}

#room-details {
    font-size: 2rem;
    text-align:center;
   background-color: rgb(255, 255, 255); 
}

.reviews-display {
    background-color: white;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    justify-items: center;
}

.input-text {
    height: 50px;
    width: 300px;
    inline-size: 300px;
    
    /* need to figure out how to make text wrap within text box */
}

footer{
    margin-top: 40px;
}

#rating-content{
    padding-top: 20px;
}

ul {
    list-style-type: square;
    text-align: left;
  }

li::marker {
    color: #F1C40F
}